html, body { 
  overflow: hidden;
}


table {
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--grey-1);
  width: 1250px;
}

th, td {
  text-align: center;
  padding-top: 0px ;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
}

th {
  background-color: var(--grey-4);
}

tr {
  border-top: 1px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: dashed;
  border-color: var(--grey-3)
}


.date-status1 {
  background-color: #F55;
  border-radius: 100%;
  padding-top:    3px;
  padding-bottom: 3px;
  margin: 1px;
}

.date-status2 {
  background-color: #FF5;
  border-radius: 100%;
  padding-top:    3px;
  padding-bottom: 3px;
  margin: 2px;
}
.date-status3 {
  background-color: #5F5;
  border-radius: 100%;
  padding-top:    3px;
  padding-bottom: 3px;
  margin: 2px;
}
.date-status4 {
  background-color: var(--grey-4);
  border-radius: 100%;
  padding-top:    3px;
  padding-bottom: 3px;
  margin: 2px;
}
.date-status5 {
  background-color: var(--grey-2);
  border-radius: 50%;
  padding-top:    3px;
  padding-bottom: 3px;
  margin: 2px;
}

.data-row {
  margin-bottom: 25px;
}

.timeField {
  align-content: center !important;
  width: 65px;
  height: 25px;
}

.injectionField {
  align-content: center;
  height: 25px;
  width: 65px;
}

.TorderButton {
  height: 30px;
  padding: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.2rem;
}

.selectTOrder {
  width: auto;
}

.DisplayNone {
  display: none;
}