.td {
  line-height: 100%;

}

.data-row {
  margin-bottom: 25px;
}

.timeField {
  align-content: center !important;
  width: 65px;
  height: 36px;
}

.injectionField {
  align-content: center;
  height: 36px;
  width: 65px;
}


.tableField {
  align-content: center;
  height: 35px;
  width: 100px;
}

.tableButton {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.TorderButton {
  height: 30px;
  padding: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.2rem;
}

.selectTOrder {
  width: auto;
}

.DisplayNone {
  display: none;
}

.StatusIcon {
  height: 25px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.calculator{
  margin-left:auto;
  margin-right:auto
}

.CenterLabel{
  margin-top: 4px;
  margin-bottom: 4px;
  height: 28px;
}