{% extends 'customer/base.html' %}
{% load static %}

{% load bootstrap4 %}

{% block content %}
<div class="col-3">
  <form method="POST">
    {% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th>Opret Ny Bruger</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Bruger Navn:</td>
          <td> {{ CreateUserForm.username }}</td>
        </tr>
        <tr>
          <td> Kodeord:</td>
          <td> {{ CreateUserForm.password }}</td>
        </tr>
        <tr>
          <td> Gentag kodeord:</td>
          <td> {{ CreateUserForm.password_confirm }}</td>
        </tr>
        <tr>
          <td> Email:</td>
          <td> {{ CreateUserForm.email_1 }}</td>
        </tr>
      </tbody>
    </table>
  
    <div id="ErrorMessages"></div>
    {% buttons %}
      <input type="submit" class="btn btn-primary" id="CreateUser" value="Opret Bruger" >
    {% endbuttons %}
  </form>
</div>

{% endblock content %}

{% block javascript %}
<script type="module" src="{% static 'customer/javascript/sites/createUser.js' %}"></script>
{% endblock %}