{% extends 'customer/base.html' %}
{% load static %}

{% load bootstrap4 %}

{% block content %}
  <form method="POST">
    {% csrf_token %}

    {% if not user.is_authenticated %}
      {% bootstrap_form login_form %}
      {% buttons %}
        <input id="login-btn" type="button" class="btn btn-primary" value="Log in">
      {% endbuttons %}
      <div id="error-message-container"></div>

    {% else %}
      <input type="button" class="btn btn-primary" value="Log ud" onclick="window.location='api/logout'">
    {% endif %}
    <a href="{% url 'customer:CreateUser' %}">Opret Bruger </a>
    <input type="button" id="ResetPassword" class="btn btn-primary" value="Genskab Password">
  </form>
{% endblock %}
<div id="error-message-container"></div>
{% block javascript %}
  <script type="module" src="{% static 'customer/javascript/sites/login.js' %}"></script>
{% endblock javascript%}