{% extends 'customer/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'customer/css/sites/resetPassword.css' %}">
{% endblock %}


{% block content %}
<h3 class="col-12 myRow">Genskab password til brugeren: {{ Request.UserID.username }}</h3>
<div class="col-12 myRow"> Dette request udløber kl: {{ Request.expire | time:'H:i'}}  </div>
<div class="row col-12 myRow">
  <input type="password" id="NewPassword" placeholder="Nyt password">
</div>
<div class="row col-12 myRow">
  <input type="password" id="RepeatNewPassword" placeholder="Gentag password">
</div>
<div class="row col-12 myRow">
  <input type="button" id="SubmitNewPassword" class="btn btn-primary" value="Overskriv nyt password">
</div>
<div id="ErrorDiv"></div>
<div id="{{Request.Reference}}" class="DisplayNone ref"></div>

{% endblock content %}

{% block javascript %}
  <script type="module" src="{% static 'customer/javascript/sites/resetPassword.js' %}"></script>
{% endblock%}