venv/
*.msql
*.log
*.pyc
__pycache__/
.vscode/settings.json
tracershop/customer/migrations/
production/api/migrations/
production/frontend/migrations/
production/frontend/node_modules/
*.sqlite3
main.js
main.js*
SECRET_KEY.py
