venv/
*.msql
*.log
*.pyc
__pycache__/
.vscode/settings.json
tracershop/customer/migrations/
production/api/migrations/
production/production/config.py
production/frontend/migrations/
production/frontend/node_modules/
production/frontend/coverage/
production/database/migrations/
production/TracerAuth/migrations
production/pdfData/
*.sqlite3
main.js
main.js*
SECRET_KEY.py
test_pdfs/
pdfs/
fonts/
*.code-workspace
legacy_code/
.coverage
coverage/
config.py
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.dvi
*.glg
*.glo
*.gls
*.out
*.glsdefs
*.ist
*.drawio