{% extends 'customer/base.html' %}
{% load static %}

{% load bootstrap4 %}

{% block content %}
    
<table class="table">
  <thead>
    <th>Bruger navn</th>
    <th>Email</th>
    <th>Er admin</th>
    <th></th>
  </thead>
  <tbody>
    {% for Auser in users %}
    <tr id="{{Auser.id}}">
      <td>{{Auser.username}}</td>
      <td>{{Auser.email_1}}</td>
      <td>
      {% if Auser.is_admin %}
        <input type="checkbox" checked="">
      {% else %}
        <input type="checkbox">
      {% endif%}
      </td>
      <td><input class="ChangePassword Button" type="button" class="btn btn-outline-primary" value="Skift Password"></td>
    </tr>
    {% endfor%}
  </tbody>
</table>
<input class="Button" type="button" class="btn btn-outline-primary" value="Opdater Rettigheder">


{% endblock %}

{% block javascript %}

{% endblock %}