{% extends 'customer/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
  
{% endblock %}

{% block content %}
{% if potentialUsers %}
<table class="table">
  <thead>
    <th>Bruger Navn</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for Puser in potentialUsers %}
      <tr id="Row-{{Puser.id}}">
        <td>{{Puser.username}}</td>
        <td>{{Puser.email_1}}</td>
        <td><input id="Confirm-{{Puser.id}}" type=button class="btn btn-primary confirmButton" value="Godkend"></td>
        <td><input id="Deny-{{Puser.id}}" type=button class="btn btn-primary denyButton" value="Afvis"></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div id="ErrorMessageContainer" class="">

</div>
{% else %}
  <br> <p>Der er ingen potentielle bruger som der kan godkendes. </p>
{% endif %}
{% endblock %}


{% block javascript %}
  <script type=module src="{% static 'customer/javascript/sites/adminConfirmUser.js' %}"></script>
{% endblock %}