{% extends 'customer/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    <h3>Server Konfiguration</h3>
    <div class="row">
      {{server_config_form.as_table}}
    </div>

    <h3>Database:</h3>
    {% for database_form in database_forms %}
      <div class="row">
        {{ database_form.as_table }}
      </div>
    {% endfor %}
    <h3>Addresser:</h3>
    {% for address_form in address_forms %}
      <div class="row">
        {{ address_form.as_table }}
      </div>
    {% endfor %}

    <input type="submit">Opdater</input>
  </form>

{% endblock %}

{% block javascript %}
  <!-- <script type="module" src="{% static 'customer/javascript/sites/.js' %}"></script> -->
{% endblock %}