{% extends 'customer/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    
<table class="table">
  <thead>
    <th>Bruger navn</th>
    <th>Email</th>
    <th>Er admin</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for Auser in users %}
    <tr id="{{Auser.ID}}" class="UserRow">
      <td class="Username">{{Auser.username}}</td>
      <td>{{Auser.email_1}}</td>
      <td class="isAdmin">
      {% if Auser.is_admin %}
        <input type="checkbox" class="isAdminCheckbox" checked="">
      {% else %}
        <input type="checkbox" class="isAdminCheckbox">
      {% endif%}
      </td>
      <td><input id="changePass-{{Auser.ID}}" class="ChangePassword Button" type="button" class="btn btn-outline-primary" value="Skift Password"></td>
      <td><input id="changeAccess-{{Auser.ID}}" class="ChangeAccess Button" type="button" class="btn btn-outline-primary" value="Skift Adgang"/></td>
    </tr>
    {% endfor%}
  </tbody>
</table>
<input class="Button" id="UpdateRightsButton" type="button" class="btn btn-outline-primary" value="Opdater Rettigheder">
<div id="UpdateRightMessages"></div>

{% endblock %}

{% block javascript %}
  <script type="module" src="{% static 'customer/javascript/sites/AdminUser.js' %}"></script>
{% endblock %}