{% extends 'customer/base.html' %}
{% load static %}

{% load bootstrap4 %}

{% block content %}
  
  {% if potentialUsersForms %}
  <table>
    <thead>
      <tr>
        <th>BrugerNavn</th>
        <th>Navn</th>
        <th>Addresse</th>
        <th>Emails</th>
        <th>Er medarjbeder</th>
        <th>Er Admin</th>
        <th>Kunde Nummer</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for potentialUser, verficationForm in potentialUsersForms %}
      <tr id="tr-{{ potentialUser.id }}">
        <td> {{ potentialUser.username }}</td>
        <td> {{ potentialUser.first_name }} {{ potentialUser.last_name }}</td>
        <td> {{ potentialUser.address }}, {{ potentialUser.location }} {{ potentialUser.cityname}} {{ potentialUser.postcode }} </td>
        <td> 
          {%if potentialUser.email_1 %} {{ potentialUser.email_1 }} {% endif %}
          {%if potentialUser.email_2 %} {{ potentialUser.email_2 }} {% endif %}
          {%if potentialUser.email_3 %} {{ potentialUser.email_3 }} {% endif %}
          {%if potentialUser.email_4 %} {{ potentialUser.email_4 }} {% endif %}
        </td>
        <td id="td-is-staff"> {{ verficationForm.is_staff }} </td>
        <td id="td-is-admin"> {{ verficationForm.is_admin }} </td>
        <td id="td-customerNumber"> {{ verficationForm.customerNumber }} </td>
        <td> <input type="button" id="{{potentialUser.id}}" value="Godkend" class="VerficationButton"></td>
        <td> <input type="button" id="{{potentialUser.id}}" value="Afvis" class="DeleteButton"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
    Der er ingen bruger, der kræver godkendelse
  {% endif %}




{% endblock content %}

{% block javascript %}
<script src="{% static 'customer/javascript/sites/verifyUser.js' %}"></script>
{% endblock %}