nav {
  background-color: var(--secondary-color-3) ;
}


.navBarSpacer {
  width : 150px;
  background: var(--secondary-color-2) !important;
  padding : 10px;
  margin-right: 15px;
  margin-left: 15px;
  border : 1px;
  border-style: solid;
  border-color: var(--secondary-color-1);
  border-radius: 10px;
}

.navbarmargin {
  margin-bottom: 20px;
}

.navbar {
  top:0;
  width: 100%;
}


.dropdown {
  padding: 0px !important;
}

.navbarElem {
  background: var(--secondary-color-2);
  padding : 10px;
  margin-right: 15px;
  margin-left: 15px;
  border : 1px;
  border-style: solid;
  border-color: var(--secondary-color-1);
  border-radius: 10px;
}

.w-200px {
  min-width: 200px;
  width: 200px !important;
}