.Margin15tb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.Margin0tb {
  margin-top: 0px;
  margin-bottom: 0px;
}

.Margin15lr {
  margin-left: 15px;
  margin-right: 15px;
}

.Margin50lr {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.mariLight{
  font-family: "marilight", "Helvetica Neue, Helvetica, Arial, sans-serif";
}

.mariBold{
  font-family: "maribold", "Helvetica Neue, Helvetica, Arial, sans-serif";
}

.pad0tb {
  padding-top: 0px;
  padding-bottom: 0px;
}

.HoverBox {
  max-width: 350px;
  background-color: #FFFFFF;
  padding: 5px;
  z-index: 999;
  border: 1px;
  border-style: solid;
  border-color: var(--grey-1);

}


.rotating {
  animation-name: rotation;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rotated {
  transform: rotate(90deg);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}