.Margin15tb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.Margin0tb {
  margin-top: 0px;
  margin-bottom: 0px;
}

.Margin50lr {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.mariLight{
  font-family: "marilight", "Helvetica Neue, Helvetica, Arial, sans-serif";
}

.mariBold{
  font-family: "maribold", "Helvetica Neue, Helvetica, Arial, sans-serif";
}