.WeeklyTimeTable {
  border-radius: 1px;
}

.Cell {
  height: 50px;
  line-height: 50px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.TopCell {
  border-bottom-width: 3px;
}

.AbsoluteCell{
  line-height: 30px;
  width: 12.5%;
  height: 30px;
  background-color: lightblue;
  position: absolute;
  justify-content: center;
  align-items: center;
}