.navbar_custom {
  background: var(--secondary-color-3);
}

.navbar {
  top:0;
  width: 100%;
  overflow: hidden;
}

.navbarElem {
  background: var(--secondary-color-2);
  padding : 10px;
  margin-right: 15px;
  margin-left: 15px;
  border : 1px;
  border-style: solid;
  border-color: var(--secondary-color-1);
  border-radius: 10px;
}

.navbarElem a {
  color:black;
}