.testclass {
  background-color: blue;

}

:root {
  --primary-color: #009ce8;
  --secondary-color-1: #4db9ef;
  --secondary-color-2: #99d7f6;
  --secondary-color-3: #ccebfa;
  --tertiary-color-1: #397c7a;
  --tertiary-color-2: #699;
  --tertiary-color-3: #88d0c8;
  --grey-1: #333;
  --grey-2: #565656;
  --grey-3: #858585;
  --grey-4: #d6d6d6;
  --red-1:#F55;
  --red-2:#FBB;
  --green-1: #5F5;
  --yellow-1: #FF5;
}

body {
  min-height: 100%;
}

#main {
  min-height: 100%;
}

#app {
  min-height: 100%;
}

.row {
  margin : 0px;
}

.container {
  padding : 0px;
}