{% extends 'customer/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'customer/css/sites/customerSelect.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'customer/css/sites/calender.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'customer/css/sites/futureBooking.css' %}">
{% endblock %}

{% block content %}

  <div id="Study" class="col-9">
    <div class="row">
      <div class="col-1"></div>
      <div id="Next update">
        Næste Opdatering: {{ NextUpdate.time | time:'H:i' }}
      </div>
    </div>
    <div class="row">
      Deadline for FDG til den: &nbsp; <strong id="DateStrong">
        {{ todayDanishFormat }}
      </strong> &nbsp; er &nbsp;
      <strong id="deadline-FDG">
        {{ Deadline }}
      </strong>
    </div>
    <div class="row" >
      Deadline for Special Tracers til den: &nbsp;
      <strong id="DateStrong-special">
        {{ todayDanishFormat }}
      </strong> &nbsp; er &nbsp;
      <strong id="deadline-special">
        {{ Deadline_Special }}
      </strong>
    </div>
    {% for key, list in studies.items %}
    <div class="TracerDiv row col-12">
      <div class="col-12 overViewDiv">
        <input class="btn btn-info tableButton" id="{{ forloop.counter0 }}-button" type="button" value="Vis data">
        <strong id="{{ forloop.counter0 }}-tracer">{{ key }}</strong>

      </div>
      <div class=hidden id="{{ forloop.counter0 }}-div">
        <table id="{{ forloop.counter0 }}-table" class="dataTable table">
          <thead>
          <th>Accession Number</th>
          <th>Study Description</th>
          <th>Booking tidspunkt</th>
          <th>Injektions Tidspunkt</th>
          <th>Location</th>
          {% if key == 'FDG' %}
            <th>Kørsel</th>
          {% endif %}
          <th></th>
        </thead>
        <tbody id="{{ forloop.counter0 }}-tbody">
          {% for study in list %}
          <tr>
            <td class="accessionNumber">{{ study.accessionNumber }}</td>
            <td>{{ study.procedure }}</td>
            <td class="">{{ study.studyTime }} </td>
            <td class="">{{ study.injectionTime}}</td>
            <td>{{ study.location }}</td>
            {% if key == 'FDG' %}
            <td class="run">
              <select class="run">
                {% for deliverTime in deliverTimes %}
                  {% if study.injectionTime > deliverTime.dtime %}
                    <option value={{ deliverTime.dtime }}>{{ deliverTime.dtime }} </option>
                  {% endif %}
                {% endfor %}
              </select>
            </td>
            {% endif %}
            {% if study.status == 0 %}
              <td class="checkbox"><input type="checkbox" id="{{ study.accessionNumber }}" checked></td>
            {% elif study.status == 2 %}
              <td><img class="ResetOrder" src="{% static 'customer/images/check.svg' %}"></td>
            {% else %}
              <td><img class="ResetOrder" src="{% static 'customer/images/x-circle-fill.svg' %}"></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="d-flex flex-row-reverse col-12">
        {% if key != "None" %}
        <div class="p-2">
          <input type="button" id="{{ forloop.counter0 }}-orderButton" class="orderButton btn btn-outline-secondary" value="Bestil">
        </div>
        {% endif %}
      </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-3">
    <div id="div_customer_select" class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="customer_select">Kunde</label>
      </div>
      <select id="customer_select" class="custom-select">
        {% for id, name in customerIDs %}
        <option value="{{ id }}">{{ name }}</option>
        {% endfor %}
      </select>
    </div>
    <div id="calender"></div>
    <div id="ErrorDiv"></div>
  </div>

{% endblock %}
{% block javascript %}
<script>
  var today = new Date(Date.parse( "{{ today }}" ));
  var colorDict = {};
</script>
<script type="module" src="{% static 'customer/javascript/sites/libs/htmlHelpers.js' %}"></script>
<script type="module" src="{% static 'customer/javascript/sites/libs/calender.js' %}"></script>
<script type="module" src="{% static 'customer/javascript/sites/libs/customerSelect.js' %}"></script>
<script type="module" src="{% static 'customer/javascript/sites/futureBooking.js' %}"></script>

{% endblock %}