{% extends 'customer/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'customer/css/sites/customerSelect.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'customer/css/sites/calender.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'customer/css/sites/CalenderDates.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'customer/css/sites/index.css' %}">
{% endblock %}

{% block content %}
<div class="row col-12" id="dato">
  Dato: {{ Dato_DK_format }}
</div>
<div id="FTG" class="container col-9 row">
  <div id="content"  class="col-9">
      {% for orderList in data %} 
      <div class="data-row">
        <div class="col-11 row">
          <strong>
            Ordre {{orderList.order_num}} - Kalibreret til: {{ orderList.time | time:'H:i' }}
          </strong>
          <div class="order DisplayNone {{ orderList.data_type }}">{{ orderList.time | time:'H:i' }}</div>
        </div>
        {% if orderList.data_type == "form" %}
        <div class="row" id="informationRow{{ orderList.order_num }}">
          <div id="ButtonDiv{{ orderList.order_num }}">
            Bestil FDG: {{ orderList.data.order_MBQ }} [MBq]
          </div>
          <div class="col-1" ></div>
          <div id="CommentDiv{{ orderList.order_num }}">
            {{ orderList.data.comment }}
          </div>
          <div class="col-1"></div>
          <div>
            <button class="btn btn-primary OrderButton" style="height: 50px;" id="{{orderList.order_num}}">
              Bestil
            </button>    
          </div>
        </div>
        {% endif %}
        {% if orderList.data_type == "data" %}
          <div class="row" id="informationRow{{ orderList.order_num }}">
            <table class="table">
             <thead>
                <th>Status</th>
                <th>order ID</th>
                <th>Bestilt Aktivitet</th>
                <th>Produceret [MBq]</th>
                <th>Batch-nr. </th>
                <th>Frigivet [MBq]</th>
                <th>Frigivet </th>
                {% if orderList.hasComment %}
                  <th>Kommentar</th>
                {% endif %}
              </thead>
              <tbody>
                {% for order in orderList.data %}
                <tr id="OrderRow-{{ order.OID }}">
                  {% if order.status == 1 %}
                    <td><img class="StatusIcon Editable-Order" id="Order-{{ order.OID }}" src="{% static 'customer/images/clipboard1.svg' %}"></td>
                  {% elif order.status == 2 %}
                    <td><img class="StatusIcon" src="{% static 'customer/images/clipboard2.svg' %}"></td>
                  {% elif order.status == 3 %}
                    <td><img class="StatusIcon" src="{% static 'customer/images/clipboard3.svg' %}"></td>
                  {% else %}
                    <td><img class="StatusIcon" src="{% static 'customer/images/clipboard0.svg' %}"></td>
                  {% endif %}
                  <td>{{order.OID}}</td>
                  <td id="Amount-{{order.OID}}">{{order.ordered_amount}}</td>
                  {% if order.total_amount %}
                    <td>{{order.total_amount}}</td>
                  {% else%}
                    <td></td>
                  {% endif %}
                  <td>{{order.batchnr}}</td>
                  <td>{{order.frigivet_amount}}</td>
                  <td>{{order.frigivet_datetime |date:'H:i'}}</td>
                  {% if order.comment %}
                    <td id="comment-{{ order.OID }}"> <img class="StatusIcon commentIcon" src="{% static 'customer/images/comment.svg'%}" title="{{ order.comment }}"> </td>
                  {% else %}
                    <td></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
    </div>
    {% endfor %}
  </div>
  <!-- Start Calculator -->
  <div class="col-2 flex" >
    <!-- Target for -->
    <div class="row flex text-center">
      <img src="{% static 'customer/images/calculator.svg' %}" class="calculator" id="calculatorIcon" height="36px" defaultValue ="{{ defaultCalValue }}">
    </div>
    <div id="OrderErrorMessages" class="">
  </div>

  </div>
  <!-- End Calculator-->
  <div id="second" class="col-9">
    {% if secondaryOrders %}
      <div id="T_orders">
    {% else %}
      <div id="T_orders" class="DisplayNone">
    {% endif %}
        <div class="row">
          <p>Ordre af Tracer Bestilt til i dag:</p>
        </div>
        <div id="torder_data">
          <table class="table">
            <thead>
              <th>Tracer</th>
              <th>Status</th>
              <th>Order ID</th>
              <th>Bestilt til</th>
              <th>Injectioner</th>
              <th>Kommentar</th>
              <th>Til</th>            
            </thead>
            <tbody id="secondaryTableBody">
              {% if secondaryOrders %}
              {% for secondaryOrder in secondaryOrders %}
                <tr class="data-row" id="TOrder-{{ secondaryOrder.OrderID }}">
                  <td>{{ secondaryOrder.tracer }}</td>
                  {% if secondaryOrder.status == 1 %}
                    <td><img id="TStatus-{{ secondaryOrder.OrderID }}" class="StatusIcon Editable-TOrder" src="{% static 'customer/images/clipboard1.svg' %}"></td>
                  {% elif secondaryOrder.status == 2 %}
                    <td><img class="StatusIcon" src="{% static 'customer/images/clipboard2.svg' %}"></td>
                  {% elif secondaryOrder.status == 3 %}
                    <td><img class="StatusIcon" src="{% static 'customer/images/clipboard3.svg' %}"></td>
                  {% else %}
                    <td><img class="StatusIcon" src="{% static 'customer/images/clipboard0.svg' %}"></td>
                  {% endif %}
                  <td>{{ secondaryOrder.OrderID }}</td>
                  <td>{{ secondaryOrder.deliver_datetime | date:'H:i' }}</td>
                  <td>{{ secondaryOrder.nInjections }}</td>
                  {% if secondaryOrder.comment %}
                    <td><img class="StatusIcon commentIcon" src="{% static 'customer/images/comment.svg' %}" title="{{ secondaryOrder.comment }}"></td>
                  {% else %}
                    <td></td>
                  {% endif %}

                  <td>{{ secondaryOrder.use }}</td>
                </tr>
              {% endfor %}
              {% endif %}
            </tbody>            
          </table>
        </div>
      </div>
      
    
    {% if secondaryForms %}
    <div id="T_forms">
    {% else %}
    <div id="T_forms" class="DisplayNone">
    {% endif %}
    <p>Bestillinger af andre tracers til i dag:</p>
      <table class="table">
        <thead>
          <th>Tracer</th>
          <th>Bestil til</th>
          <th>Antal injectioner</th>
          <th>Brug </th>
          <th>Kommentar</th>
          <th></th>
        </thead>
        <tbody id="TFormRows">
          {% for secondaryForm in secondaryForms %}
          <tr id="Row{{ secondaryForm.id }}">
            <td id="TracerName">             {{ secondaryForm.name }} </td>
            <td id="deliverTime" class="">   {{ secondaryForm.deliverTime }}</td>  
            <td id="InjectionField" class="">{{ secondaryForm.injectionField }}</td> 
            <td id="UseField">               {{ secondaryForm.useField }}</td> 
            <td class="CommentField"><textarea id="TOrderComment-{{ secondaryForm.id }}" type="text" class="TOrderComment"></textarea> </td>
            <td><input type="button" id="TOrderButton{{ secondaryForm.id }}" class="TorderButton btn btn-outline-secondary" value="Bestil"></td>
          </tr>
          {% endfor %}  
        </tbody>
      </table>
    </div>
  </div>
  
</div>
<div class="col-3">
  <div id="div_customer_select" class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="customer_select">Kunde</label>
    </div>
    <select id="customer_select" class="custom-select">
      {% for id, name in customerIDs %}
      <option value="{{ id }}">{{ name }}</option>
      {% endfor %}
    </select>
  </div>
  <div id="calender"></div>
</div>




{% endblock %}

{% block javascript %}
  <script>
    var today = new Date(Date.parse( "{{ today }}" ));
    colorDict = {
    {% for key, status in data_status.items %}
    "{{ key }}" : {{ status }},
    {% endfor %}
    };


  </script>
  <script type="module" src="{% static 'customer/javascript/sites/libs/htmlHelpers.js' %}"></script>
  <script type="module" src="{% static 'customer/javascript/sites/libs/Factory.js' %}"></script>
  <script type="module" src="{% static 'customer/javascript/sites/libs/calender.js' %}"></script>
  <script type="module" src="{% static 'customer/javascript/sites/libs/calculator.js' %}"></script>
  <script type="module" src="{% static 'customer/javascript/sites/libs/customerSelect.js' %}"></script>
  <script type="module" src="{% static 'customer/javascript/sites/libs/EditOrder.js' %}"></script>
  <script type="module" src="{% static 'customer/javascript/sites/index.js' %}"></script>
{% endblock %}