{% extends 'customer/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'customer/css/sites/customerSelect.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'customer/css/sites/calender.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'customer/css/sites/index.css' %}">
{% endblock %}

{% block content %}
<div class="row col-12" id="dato">
  Dato: {{ Dato_DK_format }}
</div>

<div id="FTG" class="container col-9 row">
  <div id="content"  class="col-9">
      {% for order in data %} 
      <div class="data-row">
        <div class="col-11 row">
          <strong>
            Ordre {{order.order_num}} - Kalibreret til: {{ order.time | time:'H:i' }}
          </strong>
        </div>
        <div class="row" id="informationRow{{ order.order_num }}">
          {% if order.data_type == "form" %}
          <div id="ButtonDiv{{ order.order_num }}">
            Bestil: {{ order.data.order_MBQ }} [MBq]
          </div>
          <div class="col-1" ></div>
          <div id="CommentDiv{{ order.order_num }}">
            Kommentar:
            {{ order.data.comment }}
        </div>
        <div class="col-1"></div>
        <button class="btn btn-primary OrderButton" style="height: 50px;" id="{{order.order_num}}">
          Bestil
        </button>      
        {% endif %}
        {% if order.data_type == "data" %}
        <table class="table">
          <thead>
            <th>Status</th>
            <th>order ID</th>
            <th>Bestilt Aktivitet</th>
            <th>Produceret [MBq]</th>
            <th>Batch-nr. </th>
            <th>Frigivet [MBq]</th>
            <th>Frigivet </th>
          </thead>
          <tbody>
            {% for order in order.data %}
            <tr>
              <td>{{order.status}}</td>
              <td>{{order.OID}}</td>
              <td>{{order.ordered_amount}}</td>
              <td>{{order.total_amount}}</td>
              <td>{{order.batchnr}}</td>
              <td>{{order.frigivet_amount}}</td>
              <td>{{order.frigivet_datetime |date:'H:i'}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-2 flex text-center">
    <img src="{% static 'customer/images/calculator.svg' %}" class="calculator" id="calculator{{ order.time | time:'H:i' }}" height="36px">
  </div>
</div>
<div class="col-3">
  <div id="div_customer_select" class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="customer_select">Kunde</label>
    </div>
    <select id="customer_select" class="custom-select">
      {% for id, name in customerIDs %}
      <option value="{{ id }}">{{ name }}</option>
      {% endfor %}
    </select>
  </div>
  <div id="calender"></div>
</div>


<div id="second" class="col-9">
  {% if secondaryOrders %}
    <div id="T_orders">
  {% else %}
    <div id="T_orders" class="DisplayHidden">
  {% endif %}
      <div class="row">
        <p>Ordre af Tracer Bestilt til i dag:</p>
      </div>
      <div id="torder_data">
        <table class="table">
          <thead>
            <th>Tracer</th>
            <th>Status</th>
            <th>Order ID</th>
            <th>Bestilt til</th>
            <th>Injectioner</th>
            <th>Til</th>            
          </thead>
          <tbody id="secondaryTableBody">
            {% if secondaryOrders %}
            {% for secondaryOrder in secondaryOrders %}
              <tr class="data-row">
                <td>{{ secondaryOrder.tracer }}</td>
                <td>{{ secondaryOrder.status }}</td>
                <td>{{ secondaryOrder.OrderID }}</td>
                <td>{{ secondaryOrder.deliver_datetime | date:'H:i' }}</td>
                <td>{{ secondaryOrder.nInjections }}</td>
                <td>{{ secondaryOrder.use }}</td>
              </tr>
            {% endfor %}
            {% endif %}
          </tbody>
          
          
        </table>
      </div>
    </div>
  

  {% if secondaryForms %}
  <p>Bestillinger af andre tracers til i dag:</p>
  <div id="T_forms">
    <table class="table">
      <thead>
        <th>Tracer</th>
        <th>Bestil til</th>
        <th>Antal injectioner</th>
        <th>Brug </th>
        <th></th>
      </thead>
      <tbody id="TFormRows">
        {% for secondaryForm in secondaryForms %}
        <tr id="Row{{ secondaryForm.id }}">
          <td id="TracerName">{{ secondaryForm.name }} </td>
          <td id="deliverTime" class="">{{ secondaryForm.deliverTime }}</td>  
          <td id="InjectionField" class="">{{ secondaryForm.injectionField }}</td> 
          <td id="UseField">{{ secondaryForm.useField }}</td> 
          <td><input type="button" id="TOrderButton{{ secondaryForm.id }}" class="TorderButton btn btn-outline-secondary" value="Bestil"></td>
        </tr>
        {% endfor %}  
      </tbody>
    </table>
    
    </p>
  </div>
  {% endif %}

</div>

{% endblock %}

{% block javascript %}
  <script>
    var today = new Date(Date.parse( "{{ today }}" ));
    colorDict = {
    {% for key, status in data_status.items %}
    "{{ key }}" : {{ status }},
    {% endfor %}
    };


  </script>
  <script type="module" src="{% static 'customer/javascript/sites/libs/htmlHelpers.js' %}"></script>
  <script type="module" src="{% static 'customer/javascript/sites/libs/calender.js' %}"></script>
  <script type="module" src="{% static 'customer/javascript/sites/libs/customerSelect.js' %}"></script>
  <script type="module" src="{% static 'customer/javascript/sites/index.js' %}"></script>
{% endblock %}